{{> frame/nav-block}}
<div class="container is-fluid" id="profile-container">
  <row class="portfolio-row">
      <div class="columns">
          <div class="column">
          </div>
          <div class="column">
          <h2><strong>Description</strong></h2>
          </div>
          <div class="column">
            <h2><strong>Links</strong></h2>
          </div>
          <div class="column">
              <h2><strong>Technologies used</strong></h2>
          </div>
      </div>
  </row>
  <div id="item-container">
    {{#each dbItems}}
    {{> item/item-block}}
    {{/each}}
  </div>
</div>

{{> modal/contact-modal}}