{{> frame/nav-block}}

<div id="portfolio-view">
    <article class="media">
    <figure class="media-left">
        <p class="image" id="portfolio-img">
        <img class="is-rounded" src="/resources/img/bearhead.jpg">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <strong>Summary</strong>
            <br>
            IT Professional with 20+ years of experience in the area of software development with 
            proven ability to perform as SME/lead analyst for mission critical systems.   
            Customer focused with an aptitude in providing innovative yet practical solutions, 
            well in alignment with business needs.   Able to quickly learn new technologies, 
            adapt them to the needs of the organization, then champion the changes - 
            including training and mentoring.  Highly motivated, organized, and communicative, 
            with a cornucopia of technological experience.
        </p>
        </div>
    </div>
    <div class="media-content">
        <div class="content">
        </div>
    </div>
    </article>
</div>