{{> frame/nav-block}}

<div class="profile-row">
    <div class="columns">
        <div class="column">
            <img class = "is-rounded profile-image" src="/resources/img/bearhead.jpg">
        </div>
        <div class="column is-four-fifths v-profile-text">
            <strong>Personal Summary</strong>
                <br>
                <p>
                IT Professional with 20+ years of experience in the area of software development with 
                proven ability to perform as SME/lead analyst for mission critical systems.   
                Customer focused with an aptitude in providing innovative yet practical solutions, 
                well in alignment with business needs.   Able to quickly learn new technologies, 
                adapt them to the needs of the organization, then champion the changes - 
                including training and mentoring.  Highly motivated, organized, and communicative, 
                with a cornucopia of technological experience.
                </p>
        </div>
    </div>
</div>
<hr>
<div class="profile-row">
    <div class="columns">
        <div class="column is-two-fifths v-profile-text">
        <strong>Website Summary</strong>
            <br>
            <p>
            This website / profile is a product of my ongoing practice of keeping current with what's
            going on with software.   The ability to create browser based 'light' GUIs was missing from 
            my repertoire, so I jumped into a Full Stack Web Development course to correct that.
            </p>
        </div>
        <div class="column v-profile-text">
            <strong>Technologies that I have learned</strong>
            <br>
  
            <img class="tech-icon" src="/resources/img/css3_t.png">
            <img class="tech-icon" src="/resources/img/firebase_t.png">
            <img class="tech-icon" src="/resources/img/heroku_t.png">
            <img class="tech-icon" src="/resources/img/html5_t.png">
            <img class="tech-icon" src="/resources/img/javascript_t.png">
            <img class="tech-icon" src="/resources/img/mongodb_t.png">
            <img class="tech-icon" src="/resources/img/mysql_t.png">
            <img class="tech-icon" src="/resources/img/node_t.png">
            <img class="tech-icon" src="/resources/img/node-express_t.png">

        </div>
     </div>
</div>