<div class="modal" id="contact-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Contact Me</p>
      <button class="delete" id="modal-close-x" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

        {{!-- Start of the modal's form --}}
        <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" id="modal-name-field" type="text" placeholder="Text input">
        </div>
        </div>

        <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" id="modal-email-field" type="email" placeholder="Email input" value="hello@">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
        </div>

        <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" id="modal-text-field"  placeholder="Textarea"></textarea>
        </div>
        </div>
        
         {{!-- End of the modal's form --}}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="modal-submit">Submit</button>
      <button class="button" id="model-cancel">Cancel</button>
    </footer>
  </div>
</div>