html {
    display: contents;
    min-height: 100%;
    min-width: 100%;
    /* position: relative; */
}

body {
    height: 100%;
    width: 100%;
}

#main-section{
    height: 100%;
    width: 100%;
    background-image: url("../img/parchment_bkg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    padding-top: 10%;
    padding-right: 2%;
    position: fixed;
}

.v-navbar{
    display: block;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.v-nav-right {
    position: relative;
    float: right;
}

.v-navbuttons {
    display: inline;
}

.v-navimg{
    display: inline-block;
    height: 80px;
    width: 80px;
}

#v-nav-text {
    color: #0c1f7bba;
    font-size: x-large;
    font-weight: 1000;
}

#portfolio-view {
    padding: 2%;
    font-weight: 700;
    color: #0c1f7bba;
}