html {
    display: contents;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100%;
    min-width: 70%;
    position: absolute;
    background-image: url("../img/parchment_bkg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#top-spacer {
    display: block;
    border-style: solid;
    border-width: 5px;
    height: 12%;
    width: 97%;
    margin-left: 2%;
    position: absolute;
}

#bottom-spacer {
    display: block;
    border-style: solid;
    border-width: 5px;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 88%;
}

#main-container {
    margin-top: 10%;
    margin-left: 3%;
    height: 77%;
    width: 94%;
    border-style: solid;
    border-width: 5px;
    position: inherit;
}

@media screen and (max-width: 1200px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
        min-width: 80%;
    }  


@media screen and (max-width: 970px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
        min-width: 90%;
    }  
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 0%;
        margin-right: 0%;
        min-width: 100%;
    }  
}