<nav class="v-navbar">
    <span id="v-nav-text">Professional Portfolio of Dent A. Bear</span>
    <div class="buttons is-grouped has-addons v-navbuttons v-nav-right">
        <a class="button is-primary is-rounded">Summary</a>
        <a class="button is-primary is-rounded">Portfolio</a>
        <a class="button is-primary is-rounded">Contact</a>
    </div>
</nav>