<nav class="v-navbar">
    <div id="v-nav-text">Professional Portfolio of Dent A. Bear</div>
    <div class="buttons is-grouped has-addons v-navbuttons v-nav-right">
        <a class="button is-primary is-rounded">Summary</a>
        <a class="button is-primary is-rounded">Portfolio</a>
        <a class="button is-primary is-rounded" id="contact-button">Contact</a>
    </div>
</nav>